.er{
	background-image: url(https://th.bing.com/th/id/OIP.sUvjoCJiFzO7YCFQa3LEzAHaE8?w=276&h=184&c=7&o=5&dpr=1.25&pid=1.7);


}

.ty{
	background-image: url(https://th.bing.com/th/id/OIP.sPR3RoMxffUvPqobXX1jCQHaEo?w=284&h=180&c=7&o=5&dpr=1.25&pid=1.7);
}




.go{
	background-image: url(https://th.bing.com/th/id/OIP.1J83jIuiUd2L-5JT2oo60AHaEK?w=311&h=161&c=7&o=5&dpr=1.25&pid=1.7);

}


.ua{
	background-image: url(https://th.bing.com/th/id/OIP.9IDnPpgf4uJildItFtVGgwHaEK?w=302&h=180&c=7&o=5&dpr=1.25&pid=1.7);

}
.title{
font-style: italic;
font-size: 25px;
color: red;
 text-align: center;
}

.text {
font-size: 20px;
color: red;-
}


.text1 {
	color: blue;
}


